@import './cmps/email-menu.css';
@import './cmps/email-list.css';
@import './cmps/email-preview.css';
@import './cmps/email-details.css';
@import './cmps/email-filter.css';
@import './cmps/email-composer.css';
@import './pages/EmailApp.css';
@font-face {
  font-family: SourceSansPro;
  src: url('../fonts/SourceSansPro-Regular.ttf');
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
