.keep-app {
 
  margin:2rem auto 0px;
  display: block;
  color: black;
}
.pinned-notes-section{
  border-bottom :2px solid rgb(0, 118, 253); ;
  padding-bottom: 2rem;
  margin: 0.5rem  0 1rem;
  
}
.pinned-notes-section h3 svg{
  width:0.75rem;
  transform: rotate(30deg);
}


@media screen and (min-width:480px){

}
@media screen and (min-width:780px){
  .keep-app {
    max-width: 840px;
  }
}
@media screen and (min-width:1040px){
  .keep-app{
    max-width: 1040px;
  }
}